tr.sendBox {
  background-color: var(--main-dark-blue);
}

tr.sendBox td.nameColumn {
  color: var(--main-blue);
  font-family: 'RobotoLight';
}

td.textColumn textarea {
  margin: 1em 1em 0em 1em;
  width: 90%;
  height: 5em;
  font-size: 0.75em;
  padding: 0.5em;
  font-family: 'RobotoLight';
}

button.sendButton {
  margin: 1em;
  padding: 1em;
  width: 5em;
}
