/* Declaring variables to make it easier to mange colours */
:root {
	--main-bg-color: #2d2e31;
	--main-blue: #0088cc;
	--main-dark-blue: #191c20;
}

/* Custom fonts from local files */
@font-face {
	font-family: 'RobotoLight';
	src: url('./fonts/Roboto-Light.ttf');
}
@font-face {
	font-family: 'RobotoThin';
	src: url('./fonts/Roboto-Thin.ttf');
}
@font-face {
	font-family: 'RobotoRegular';
	src: url('./fonts/Roboto-Regular.ttf');
}

/* Simple animations for the website */
@keyframes fadeInInput {
	from {
		opacity: 0;
		left: 30em;
	}
	to {
		opacity: 1;
		left: 0em;
	}
}

@keyframes fadeInImage {
	from {
		opacity: 0;
		right: 30em;
	}
	to {
		opacity: 1;
		right: 0em;
	}
}
/* Global CSS */
body {
	background-color: var(--main-bg-color);
	margin: 0em;
	padding: 0em;
}

a.link {
	color: white;
	text-decoration: none;
}

a.link:hover {
	color: var(--main-blue);
}

/* Navbar CCS*/
div.navbar ul {
	margin: 0;
	padding: 0;
	overflow: hidden;

	background-color: #000000;
	list-style-type: none;
}

div.navbar ul li {
	float: right;
	border-right: 0.1em solid white;
}

div.navbar ul li.websiteName {
	float: left;
	border-right: 0em;
}

div.navbar ul li a {
	display: block;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	color: white;

	font-family: 'RobotoLight';
	font-size: 20px;
}
div.navbar ul li a:hover {
	background-color: var(--main-blue);
	text-decoration: underline;
	text-underline-offset: 5px;
}

@media (max-width: 600px) {
	div.navbar ul li {
		width: 100%;
	}
}

/* index.html results page*/
div.profiles {
	margin: 1em;
	padding: 1em;
}

div.dogProfile {
	border-radius: 1em;
	margin: 1em;
	display: inline-block;
	background-color: var(--main-dark-blue);

	width: 250px;
}

div.dogProfile div.details {
	padding: 0.5em;
}

div.dogProfile h2 {
	color: white;
	font-family: 'RobotoThin';
	font-size: 2em;
	margin: center;
	padding: 0em;
	margin: 0em;
}

div.dogProfile img {
	width: 100%;
	height: 15em;
	object-fit: cover;

	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.2em;
}

div.dogProfile h3 {
	color: white;
	font-family: 'RobotoThin';
	font-size: 1.2em;
}

div.dogProfile div img.option {
	width: 5em;
	height: 5em;
	border: var(--main-blue) solid 0.2em;
	border-radius: 1em;
	margin: 0.5em;
}

div.dogProfile div img.option:hover {
	filter: brightness(0) invert(100%);
}

/* Footer CCS*/
div.footer {
	background-color: var(--main-dark-blue);
}

/* profile.html CCS*/
div.profile {
	margin: 1em;
	color: white;
}

div.profile div.profilePicture {
	background-color: var(--main-dark-blue);
	float: left;
	border-radius: 1em;
}

div.profile div.profilePicture div img {
	width: 300px;
	padding: 1em;
	object-fit: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2em;
}

div.profile div.profilePicture img.option {
	width: 5em;
	height: 5em;
	border: var(--main-blue) solid 0.2em;
	border-radius: 1em;
	margin: 1em;
}

div.profile div.profilePicture img.option:hover {
	filter: brightness(0) invert(100%);
}

div.profile div.details {
	margin-left: 350px;
}

div.profile div.details div.detailItem {
	padding: 1em;
	border-radius: 1em;
	background-color: var(--main-dark-blue);
	margin-bottom: 1em;
}

h1 {
	background-color: var(--main-dark-blue);
	border-radius: 0.5em;
	padding: 0.5em;

	font-family: 'RobotoThin';
	color: var(--main-blue);
}

div.profile h2 {
	font-family: 'RobotoRegular';
	color: var(--main-blue);
	margin: 0em;
}

div.profile h3 {
	font-family: 'RobotoLight';
}

div.profile div.ownerDetail {
	background-color: var(--main-dark-blue);
	border-radius: 1em;
	padding: 1em;
}

div.ownerDetail div p1 {
	font-family: 'RobotoLight';
	font-size: 1.3em;
	color: var(--main-blue);
}

div.ownerDetail div p2 {
	font-family: 'RobotoLight';
	font-size: 1.3em;
	color: white;
}

/* login.html CSS*/
div.userLogin {
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.userInput {
	animation: fadeInInput 3s;
	animation-timing-function: ease-out;
	position: relative;

	float: right;
	background-color: var(--main-dark-blue);
	border-radius: 1em;
	padding: 1em;
	margin: 1em 1em 1em 0em;
	color: white;
	float: right;
	height: 100%;
}

div.loginText {
	text-align: center;
	color: var(--main-blue);
	font-size: 2.5em;
	font-family: 'RobotoRegular';
}

.inputStyle {
	background: var(--main-dark-blue);
	border: none;
	color: white;
	font-size: 1.5em;
	font-family: 'RobotoLight';
}

div.inputGroup {
	border: 0.1em white solid;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	display: flex;
}

div.loginImage {
	animation: fadeInImage 3s;
	animation-timing-function: ease-out;
	position: relative;

	float: left;
	background-color: var(--main-dark-blue);
	border-radius: 1em;
	padding: 1em;
	margin: 1em;
}

div.loginImage img {
	width: 300px;
	height: 300px;
	border-radius: 10em;
	object-fit: cover;
}

div.centredDisplay {
	padding: 1em;
	position: absolute;
}

div.buttonGroup {
	display: flex;
	text-align: right;
	float: right;
}

.buttonText {
	color: white;
	font-size: 1.2em;
	font-family: 'RobotoLight';
	border-radius: 1em;
	margin-right: 1em;
	padding: 0.5em;
}

.buttonText:hover {
	text-decoration-line: underline;
}

.buttonStyleLogin {
	color: white;
	border: 0.1em solid white;
	background-color: var(--main-blue);
}

.buttonStyleSignUp {
	color: var(--main-blue);
}

.buttonStyleHelp {
	color: grey;
}

img.icon {
	padding: 0em 1em 0em 0em;
	color: var(--main-blue);
	width: 3em;
	height: 3em;
}
